<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>Bootstrap 101 Template</title>

  <!-- Bootstrap -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">


	<%= stylesheet_link_tag "bootstrap.css" %>

	<%= stylesheet_link_tag "style.css" %>
	<%= stylesheet_link_tag "style-responsive.css" %>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
	<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<section id="container">


	<header class="header black-bg">
		<!--logo start-->
		<a href="/" class="logo"><b>手术室排班系统</b></a> 
		<!--logo end-->
	</header>
	
	<aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              	  <h5 class="centered">选择功能</h5>
              	  	
                  <li >
                      <a  href="/">
                          <i class="fa fa-desktop"></i>
                          <span>排班系统</span>
                      </a>
                  </li>
                  <li >
                      <a  class="active" href="/surgeries/surgeriesList">
                          <i class="fa fa-dashboard"></i>
                          <span>手术列表</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>排班结果</span>
                      </a>
                      <ul class="sub">
                           <% if(flash[:day_notice])%>
                           <li onclick="day_message()"><a  href="">白班列表</a></li>
                           <% else %>
                           <li><a  href="/surgeries/daySchedule/show">白班列表</a></li>
                           <% end %>
                           <% if(flash[:night_notice])%>
                          <li onclick="night_message()"><a  href="">夜班列表</a></li>
                          <% else %>
                          <li ><a  href="/schedules/nightSchedule/show">夜班列表</a></li>
                          <% end %>

                      </ul>
                  </li>     
              </ul>
              <!-- sidebar menu end-->
          </div>
    </aside>
   
	<section id="main-content">

	    <section class="wrapper">
			<center >
				<h4>手术列表</h4>
				<% if(@surgeries.length > 0) %>
						<% if(flash[:schedule_notice])%>
								<font color="red"><%= flash[:schedule_notice] %></font>
						<% end %>
						<div style="margin-right:auto;margin-left:auto;">
							<table class='table table-bordered' >
							<tbody>
							<tr class="bg-primary">
								<td>手术日期</td>
								<td>手术名称</td>
								<td>手术开始时间</td>
								<td>手术房间</td>
								<td>床位</td>
								<td>患者住院号</td>
								<td>所属专科</td>
								<td>麻醉方式</td>
								<td>主治医生</td>
								
							</tr>
							<% for surgery in @surgeries %>
									<tr>
										<td><%= surgery.date %></td>
										<td><%= surgery.surgery_name %></td>
										<td><%= surgery.time[0,2] %>:<%= surgery.time[2,4] %></td>
										<td><%= surgery.room %></td>
										<td><%= surgery.table %></td>

										<% patient = surgery.getPatient(surgery.patient_id) %>
										<td><%= patient.hospitalized_number %></td>
										<td><%= surgery.department %></td>
										<td><%= surgery.anesthesia_method %></td>

										<% doctor = surgery.getDoctor(surgery.doctor_id) %>
										<td><%= doctor.name %></td>
									</tr>
							<% end %>
							<p></p>
							</tbody>
						    </table>
						</div>
						<% date = @surgeries[0].date %>
						<p></p>
				<% else %>
						当前日期无手术
						<p></p>
				<% end %>
				<a href="<%= surgeries_backToIndex_path %>"><button class='btn btn-primary'>返回</button></a>
			</center>

		</section>

	</section>


</section>


	<script type="text/javascript">


    function day_message(){

      alert("请您先排夜班，谢谢！")
    }

    function night_message(){

      alert("您还没有排夜班，谢谢！")
    }

	</script>
</body>

<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "jquery-1.8.3.min.js" %>
<%= javascript_include_tag "bootstrap.min.js" %>
<%= javascript_include_tag "jquery.dcjqaccordion.2.7.js" %>
<%= javascript_include_tag "jquery.scrollTo.min.js" %>
<%= javascript_include_tag "jquery.nicescroll.js" %>
<%= javascript_include_tag "jquery.sparkline.js" %>

<%= javascript_include_tag "common-scripts.js" %>
<%= javascript_include_tag "jquery.gritter.js" %>
<%= javascript_include_tag "gritter-conf.js" %>
<%= javascript_include_tag "sparkline-chart.js" %>
<%= javascript_include_tag "zabuto_calendar.js" %>

</html>
