<p><a href="<%= surgeries_show_path %>?date=2017-12-01" >2017-12-01查询</a></p>
<p><a href="<%= surgeries_show_path %>?date=2017-12-02" >2017-12-02查询</a></p>
<p><a href="<%= surgeries_show_path %>?date=2017-12-03" >2017-12-03查询</a></p>
<p><a href="<%= surgeries_show_path %>?date=2017-12-04" >2017-12-04查询</a></p>
<p><a href="<%= surgeries_show_path %>?date=2017-12-05" >2017-12-05查询</a></p>
<p><a href="<%= surgeries_show_path %>?date=2017-12-06" >2017-12-06查询</a></p>
<p><a href="<%= surgeries_show_path %>?date=2017-12-07" >2017-12-07查询</a></p>