<%= form_tag(controller: "surgeries", action: "show", method: "post") do %>
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
    <p>开始日期：<%= select_date Date.today, prefix: :start_date %></p>
    <p>结束日期：<%= select_date Date.today, prefix: :end_date %></p>
  <%= submit_tag("手动排白班") %>
<% end %>
<p></p>
<%= form_tag(controller: "surgeries", action: "nightSchedule", method: "post") do %>
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
    <p>选择月份：<%= select_date Date.today, order: [:year, :month], prefix: :nightSchedule %></p>
  <%= submit_tag("排夜班") %>
<% end %>